{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div class="squareBox" id="squareBox">
         <!-- <img src="" alt="#" id="squareImg">
       element generated through script.js-->
</div>
{% endblock %}
